// colors
$main-color: #ffffff;
$main-dark-color: #edf0f2;
$button-color: #ff6b08;
$secondary-color: #00eaff;
$secondary-dark-color: #181c27;
$header-headline-color: #f9ae23;

// fonts
$acrombold: 'AcromBold', sans-serif;
$acromextrabold: 'AcromExtraBold', sans-serif;
$acrommedium: 'AcromMedium', sans-serif;
$acromregular: 'AcromRegular', sans-serif;
$montserat: 'Montserrat', sans-serif;
