// colors
$main-color: #ffffff;
$main-dark-color: #edf0f2;
$button-color: #ff6b08;
$secondary-color: #00eaff;
$secondary-dark-color: #181c27;
$header-headline-color: #f9ae23;

// fonts
$acrombold: 'Acrom Bold', sans-serif;
$acromextrabold: 'Acrom ExtraBold', sans-serif;
$acrommedium: 'Acrom Medium', sans-serif;
$acromregular: 'Acrom Regular', sans-serif;
$acromlight: 'Acrom Light', sans-serif;
$montserat: 'Montserrat', sans-serif;
