@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .about-us {
    position: relative;
    margin: 0 auto;
    padding-top: 38px;
    width: 768px;

    height: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .about-us {
    &__title {
      width: 500px;
      height: 70px;
      @include font-settings($acromextrabold, 30px, 35px);
      color: rgba(27, 32, 42, 255);
      margin: 0;
      padding-left: 60px;
      letter-spacing: 0.041em;
      font-weight: 700;
    }

    &__wrapper {
      position: absolute;
      margin: 0 auto;
      margin-bottom: 10px;

      width: 400px;
      height: 230px;

      background-image: url(..//images/un_sign.svg);
      
      background-repeat: no-repeat;
      background-position: top;
      position: absolute;
      top: 400px;
      left: 160px;
      transform: translate(60px, 350px);
    }

    &__subtitle--one {
      margin-bottom: 20px;
      width: 90px;
      height: 25px;

      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      background-color: $main-dark-color;
    }

    &__headline {
      width: 320px;
      text-align: left;
      letter-spacing: 2px;
      @include font-settings($acromextrabold, 24px, 35px);
    }

    &__text {
      color: #90929a;
      text-align: left;
      @include font-settings($acromextrabold, 14px, 25px);
    }

    &__partners {
      width: 650px;
      position: absolute;
      top: 700px;
      left: 45px;
      transform: translate(50px, 400px);
    }

    &__subtitle--two {
      margin-bottom: 30px;
      width: 100px;
      height: 25px;

      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      background-color: $main-dark-color;
      margin: 0 auto;
      position: absolute;
      top: 20px;
      left: 30px;
      transform: translate(-40px, -80px);
    }

    &__image {
      


      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-grow: 3;
      align-content: space-between;
      width: 650px;
      height: 150px;
    }

    &__subtitle--three {
      width: 90px;
      height: 25px;
      top: 70px;
      left: 100px;
      transform: translate(-425px, 80px);
      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      background-color: $main-dark-color;
    }

    &__wrap {
      position: absolute;
      margin: 0 auto;
      width: 760px;
      flex-direction: row;
      margin: 0 ;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      top: 100px;
      transform: translateY( 100px);
    }

    &__box {
      position: relative;

      width: 230px;

      height: 465px;
      background-color: $main-color;
      border: 1px $main-dark-color solid;
      transform: translate(-10px, -10px);

      box-shadow: -15px 15px 0 0 $main-dark-color, 0 14px 28px #dfe2e4,
        0 10px 10px $main-dark-color;
      opacity: 1;
    }

    &__box::before {
      display: block;
      content: '';
      width: 63px;
      height: 3px;
      background-color: $secondary-color;
      top: 8px;
      left: 8px;
      transform: translate(-8px, 8px);
    }

    &__caption {
      top: 20px;
      left: 20px;
      transform: translate(20px, 20px);
      

      width: 110px;
      height: 80px;
      margin: 0 ;
      text-align: left;
      @include font-settings($acromextrabold, 20px, 25px);
    }


    &__tagline {
      flex: 0 0 80px;
      margin: 0 auto;
      padding: 20px;
      margin-top: 20px;
      color: rgba(0, 0, 0, 255);
      font-weight: 700;
      text-align: left;
      @include font-settings($acromregular, 14px, 25px);
    }

    &__tagline--span {
      font-weight: normal;
      color: #6b6f7a;
    }

    &__img {
      margin: 0 auto;
    }

    &__img--imag {
      margin: 0 auto;
      top: 20px;
      
      transform: translateY(45px);
    }

    &__img--im {
      margin: 0 auto;
      top: 20px;
      
      transform: translateY(-20px);
    }

    &__img--ims {
      margin: 0 auto;
      top: 20px;
      
      transform: translateY(-10px);
    }


  }

  
  .one {
    margin: 0 auto;
    position: absolute;
    top: 20px;
    left: 520px;
    width: 70px;
    height: 50px;
    text-align: center;
    transform: translate(-340px, 160px);
    color: $main-dark-color;
    @include font-settings($montserat, 70px, 10px);
    font-weight: 700;
  }

  .two {
    margin: 0;
    width: 70px;
    height: 50px;

    top: 160px;
    left: 280px;
    transform: translate(-190px, 140px);
    color: $main-dark-color;
    @include font-settings($montserat, 70px, 10px);
    font-weight: 700;
  }

  .three {
    margin: 0;

    width: 70px;
    height: 50px;
    top: 160px;
    left: 300px;
    transform: translate(-60px, 145px);
    color: $main-dark-color;
    @include font-settings($montserat, 70px, 10px);
    font-weight: 700;
  }

  .imag {
    filter: drop-shadow(5px 5px 5px $main-dark-color);
  }

  .imas {
    filter: drop-shadow(5px 5px 10px $main-dark-color);
  }
}
