@media (max-width: 599px) {
  .about-us {
    position: relative;
    margin: 0 auto;
    padding-top: 38px;
    width: 320px;
    height: 2600px;
  }

  .about-us {
    &__title {
      width: 170px;
      
      @include font-settings($acromextrabold, 20px, 25px);
      color: rgba(27, 32, 42, 255);
      left: 10px;
      transform: translateX(30px);
    }

    &__wrapper {
      margin: 0 auto;
      margin-bottom: 10px;
      
      width: 220px;
      height: 320px;
      
      background-image: url(..//images/un_sign.svg);
      background-repeat: no-repeat;
      background-position: top;
      position: absolute;
      top: 850px;
      left: 10px;
      transform: translate(30px, 950px);
    }

    &__subtitle--one {
      margin-bottom: 20px;
      width: 90px;
      height: 25px;
      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      background-color: $main-dark-color;
    }

    &__headline {
      
      width: 220px;
      letter-spacing: 2px;
      @include font-settings($acromextrabold, 24px, 25px);
      margin-bottom: 20px;

    }

    &__text {
      color: #90929a;
      //   padding-top: 40px;
      @include font-settings($acromextrabold, 14px, 25px);
    }

    &__partners {
      width: 200px;
      height: 400px;
      //   margin-top: 30px;
      position: absolute;
      top: 1050px;
      left: 20px;
      transform: translate(20px, 1100px);
    }

    &__subtitle--two {
      margin-bottom: 40px;
      margin-top: 40px;
      width: 100px;
      height: 25px;
    
      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      background-color: #edf0f2;
    }

    &__image {
      margin: 0 auto;

      width: 210px;
      display: inline-block;
    }

    &__kuehne {
      top: 40px;
      left: 90px;
      transform: translate(70px, -30px);
    }

    &__ciklum {
    }

    &__crytek {
      top: 100px;
      left: 190px;
      transform: translate(150px, -100px);
    }

    &__softserve {
    }

    &__globallogic {
      top: 20px;
      left: 145px;
      transform: translate(130px, -20px);
    }

    &__go_iteens {
      top: 10px;
      left: 180px;
      transform: translate(145px, 10px);
    }

    &__alfa_bank {
      top: 20px;
      left: 10px;
      transform: translate(10px, -20px);
    }

    &__inovecs {
      top: 140px;
      left: 150px;
      transform: translate(150px, -140px);
    }

    &__infopulse {
    }

    &__grossum {
      top: 50px;
      left: 10px;
      transform: translate(10px, 50px);
    }

    &__template_monster {
      top: 30px;
      left: 120px;
      transform: translate(110px, 30px);
    }

    &__luxsoft {
      top: 80px;
      left: 180px;
      transform: translate(160px, -80px);
    }

    &__ubisoft {
      top: 120px;
      left: 110px;
      transform: translate(100px, -120px);
    }

    &__lenal {
      top: 110px;
      left: 10px;
      transform: translate(10px, -110px);
    }

    &__terrasoft {
      top: 120px;
      left: 120px;
      transform: translate(120px, -120px);
    }

   

    &__subtitle--three {
      margin-bottom: 30px;
      width: 90px;
      height: 25px;
      
      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      background-color: $main-dark-color;
      top: 10px;
      left: 10px;
      transform: translate(30px, 40px);

    }

    &__wrap {
      position: absolute;
      margin: 0 auto;
      width: 320px;
      top: 120px;
      transform: translateY(120px);
    }



    &__box {
      // margin-left: 20px;
      // flex: 0 0 220px;
      // flex-wrap: wrap;
      margin: 0 auto;
      width: 220px;
      height: 450px;
      background-color: $main-color;
      border: 1px $main-dark-color solid;
      transform: translate(-10px, -10px);
      
      box-shadow: -15px 15px 0 0 $main-dark-color, 0 14px 28px #dfe2e4,
        0 10px 10px $main-dark-color;
        
      opacity: 1;
    }

    

    

    &__box:nth-last-child(n+2) {
      margin-bottom: 70px;
    }

    &__box::before {
      display: block;
      content: '';
      width: 63px;
      height: 3px;
      background-color: $secondary-color;
     
      top: 8px;
      left: 8px;
      transform: translate(-8px, 8px);
    }

    &__caption {
      flex: 0 0 108px;
      height: 65px;
      margin: 0 auto;
      padding: 20px;
      @include font-settings($acromextrabold, 20px, 20px);
    }
    

    &__tagline {
      flex: 0 0 80px;
     
      padding: 20px;
      margin: 0;
      color: rgba(0, 0, 0, 255);
      font-weight: 700;
      // letter-spacing: 0.4em;
      @include font-settings($acromregular, 14px, 25px);
    }

    &__tagline--span {
      font-weight: normal;
      color: #90929a;
    }

    &__img {
      margin: 0 auto;
      
      filter: drop-shadow(-5px 5px 5px $main-dark-color);
    }

    &__img--imag {
      margin: 0 auto;
      top: 20px;
      filter: drop-shadow(-5px 5px 5px $main-dark-color);
      transform: translateY(45px);
    }

    &__img--im {
      margin: 0 auto;
      top: 20px;
      left: 10px;
      transform: translateY( -20px);
      filter: drop-shadow(-5px 5px 5px rgba(0,0,0, 0.9));
    }

    &__img--ims {
      margin: 0 auto;
      top: 20px;
      left: 10px;
      transform: translate(-10px, -10px);
    }


    
  }

  .one {
    margin: 0 auto;
    position: absolute;
    // flex: 0 0 70px;
    // height: 50px;
    top: 110px;
    // padding-left: 136px;
    left: 70px;
    transform: translate(110px, 110px);
    color: $main-dark-color;
    @include font-settings ($montserat, 70px, 10px);
    font-weight: 700;
  }

  .two {
    position: absolute;
    margin: 0 auto;
    flex: 0 0 70px;
    height: 50px;
    top: 150px;
    // padding-left: 136px;
    left: 65px;
    transform: translate(110px, 590px);
    color: $main-dark-color;
    @include font-settings ($montserat, 70px, 10px);
    font-weight: 700;
  }

  .three {
    margin: 0 auto;
    position: absolute;
    // flex: 0 0 70px;
    // height: 50px;
    top: 600px;
    left: 65px;
    // padding-left: 136px;
    transform: translate(110px, 665px);
    color: $main-dark-color;
    @include font-settings ($montserat, 70px, 10px);
    font-weight: 700;
  }

  .imag {
 
    filter: drop-shadow(-5px 5px 5px $main-dark-color);
  }


  .imas {
    filter: drop-shadow( -5px 5px 5px $main-dark-color);
  }
}
