@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .about-us {
    position: relative;
    margin: 0 auto;
    padding-top: 38px;
    min-width: 1200px;
    height: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .about-us {
    &__title {
      width: 576px;
      height: 105px;
      @include font-settings($acromextrabold, 38px, 55px);
      color: rgba(27, 32, 42, 255);
      margin: 0;
      padding-left: 60px;
      letter-spacing: 0.041em;
    }

    &__wrapper {
      position: absolute;
      margin: 0 auto;
      width: 370px;
      height: 260px;
      background-image: url(..//images/un_sign.svg);
      background-repeat: no-repeat;
      background-position: top;
      top: 100px;
      left: 160px;
      -webkit-transform: translate(-90px, 100px);
      transform: translate(-90px, 100px);
    }

    &__subtitle--one {
      margin-bottom: 5px;
      width: 90px;
      height: 25px;
      top: 30px;
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      background-color: $main-dark-color;
    }

    &__headline {
      width: 320px;
      letter-spacing: 2px;
      @include font-settings($acromextrabold, 24px, 25px);
    }

    &__text {
      color: #90929a;
      @include font-settings($acromextrabold, 14px, 25px);
    }

    &__partners {
      width: 600px;
      position: absolute;
      top: 100px;
      left: 200px;
      -webkit-transform: translate(330px, 150px);
      transform: translate(330px, 150px);
    }

    &__subtitle--two {
      margin-bottom: 30px;
      width: 100px;
      height: 25px;

      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      background-color: $main-dark-color;
      top: 60px;
      left: 10px;
      -webkit-transform: translate(10px, -120px);
      transform: translate(10px, -120px);
    }

    &__image {
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      width: 600px;
      height: 200px;
    }

    &__subtitle--three {
      width: 90px;
      height: 25px;
      top: 70px;
      left: 100px;
      -webkit-transform: translate(-630px, 450px);
      transform: translate(-630px, 450px);
      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      background-color: $main-dark-color;
    }

    &__wrap {
      position: absolute;
      width: 1200px;
      height: 400px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      top: 100px;
      -webkit-transform: translateY(450px);
      transform: translateY(450px);
    }

    &__box {
      width: 350px;
      height: 200px;
      background-color: $main-color;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      position: relative;
    }

    &__box::before {
      display: block;
      content: '';
      width: 63px;
      height: 3px;
      background-color: $secondary-color;
      top: 8px;
      left: 8px;
      -webkit-transform: translate(-8px, 8px);
      transform: translate(-8px, 8px);
      opacity: 0;
    }

    &__caption {
      width: 147px;
      height: 78px;
      margin-bottom: 20px;
      margin: 0;
      letter-spacing: 2px;
      letter-spacing: 3px;
      @include font-settings($acromextrabold, 20px, 25px);
    }

    &__tagline {
      width: 240px;
      height: 54px;
      margin: 0;
      padding: 20px;
      margin-top: 20px;
      color: rgba(0, 0, 0, 255);
      font-weight: 700;

      @include font-settings($acromregular, 14px, 25px);
    }

    &--span {
      font-weight: normal;
      color: #6b6f7a;
    }

    &__img {
      top: 100px;
      left: 80px;
      -webkit-transform: translate(90px, -150px);
      transform: translate(90px, -150px);
      -webkit-filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.3));
      filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.3));
    }

    &__img--imag {
      margin: 0 auto;
      top: 75px;
      left: 30px;
      -webkit-transform: translate(90px, -130px);
      transform: translate(90px, -130px);
    }

    &__img--im {
      margin: 0 auto;
      top: 20px;
      left: 30px;
      -webkit-transform: translate(90px, -156px);
      transform: translate(90px, -156px);
    }

    &__img--ims {
      margin: 0 auto;
      top: 20px;
      left: 30px;
      -webkit-transform: translate(90px, -120px);
      transform: translate(90px, -120px);
    }

    .one {
      margin: 0 auto;
      width: 70px;
      height: 50px;
      top: 200px;
      position: absolute;
      left: 100px;

      -webkit-transform: translate(250px, 280px);

      transform: translate(250px, 280px);
      color: $main-dark-color;
      @include font-settings($montserat, 30px, 10px);
      font-weight: 700;

      -webkit-writing-mode: tb-rl;

      -ms-writing-mode: tb-rl;

      writing-mode: tb-rl;
    }

    .two {
      margin: 0;

      top: 20px;
      left: 100px;

      -webkit-transform: translate(-220px, 450px);

      transform: translate(-220px, 450px);
      color: $main-dark-color;
      @include font-settings($montserat, 30px, 10px);
      font-weight: 700;
      -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: tb-rl;
    }

    .three {
      margin: 0;

      top: 20px;
      -webkit-transform: translate(-80px, 450px);
      transform: translate(-80px, 450px);
      color: $main-dark-color;
      @include font-settings($montserat, 30px, 10px);
      font-weight: 700;
      -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: tb-rl;
    }

    .imas {
      -webkit-filter: drop-shadow(-5px 5px 5px $main-dark-color);
      filter: drop-shadow(-5px 5px 5px $main-dark-color);
    }
  }
}
