@media (max-width: 599px) {
  .about-us {
    position: relative;
    margin: 0 auto;
    padding-top: 38px;
    width: 320px;
    height: 2600px;
  }

  .about-us {
    &__title {
      width: 170px;
      
      @include font-settings($acromextrabold, 20px, 25px);
      color: rgba(27, 32, 42, 255);
      left: 10px;
      -webkit-transform: translateX(30px);
              transform: translateX(30px);
    }

    &__wrapper {
      margin: 0 auto;
      margin-bottom: 10px;
      
      width: 220px;
      height: 320px;
      
      background-image: url(..//images/un_sign.svg);
      background-repeat: no-repeat;
      background-position: top;
      position: absolute;
      top: 850px;
      left: 10px;
      -webkit-transform: translate(30px, 950px);
              transform: translate(30px, 950px);
    }

    &__subtitle--one {
      margin-bottom: 20px;
      width: 90px;
      height: 25px;
      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      letter-spacing: -1px;
      background-color: $main-dark-color;
    }

    &__headline {
      
      width: 220px;
      letter-spacing: 2px;
      @include font-settings($acromextrabold, 24px, 25px);
      margin-bottom: 20px;

    }

    &__text {
      color: #90929a;
      @include font-settings($acromextrabold, 14px, 25px);
    }

    &__partners {
      width: 280px;
      margin: 0 auto;
      position: absolute;
      top: 1050px;
      left: 20px;
      -webkit-transform: translate(20px, 1100px);
              transform: translate(20px, 1100px);
    }

    &__subtitle--two {
      margin-bottom: 40px;
      margin-top: 40px;
      width: 100px;
      height: 25px;
      letter-spacing: -1px;
      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      background-color: #edf0f2;
    }

    &__image {
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-negative: 1;
          flex-shrink: 1;
      -ms-flex-line-pack: justify;
          align-content: space-between;
      width: 280px;
      height: 300px;
      

    }

    &__epam{
     
      -webkit-box-ordinal-group: 2;
     
          -ms-flex-order: 1;
     
              order: 1;
      
    }

    &__kuehne {
      
      
      -webkit-box-ordinal-group: 3;
      
      
          -ms-flex-order: 2;
      
      
              order: 2;
    }

    &__ciklum {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
    }

    &__crytek {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      
    }

    &__softserve {
      -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
              order: 6;
    }

    &__globallogic {
     
      -webkit-box-ordinal-group: 8;
     
          -ms-flex-order: 7;
     
              order: 7;
    }

    &__go_iteens {
     
      -webkit-box-ordinal-group: 10;
     
          -ms-flex-order: 9;
     
              order: 9;
    }

    &__alfa_bank {
    
      -webkit-box-ordinal-group: 9;
    
          -ms-flex-order: 8;
    
              order: 8;
    }

    &__inovecs {
      
      -webkit-box-ordinal-group: 6;
      
          -ms-flex-order: 5;
      
              order: 5;
    }

    &__infopulse {
      -webkit-box-ordinal-group: 11;
          -ms-flex-order: 10;
              order: 10;
    }

    &__grossum {
      
      -webkit-box-ordinal-group: 18;
      
          -ms-flex-order: 17;
      
              order: 17;
    }

    &__template_monster {
     
      -webkit-box-ordinal-group: 19;
     
          -ms-flex-order: 18;
     
              order: 18;
    }

    &__luxsoft {
    
      -webkit-box-ordinal-group: 13;
    
          -ms-flex-order: 12;
    
              order: 12;
    }

    &__ubisoft {
      
      -webkit-box-ordinal-group: 12;
      
          -ms-flex-order: 11;
      
              order: 11;
    }

    &__lenal {
     
      -webkit-box-ordinal-group: 14;
     
          -ms-flex-order: 13;
     
              order: 13;
    }

    &__terrasoft {
     
      -webkit-box-ordinal-group: 15;
     
          -ms-flex-order: 14;
     
              order: 14;
    }

   

    &__subtitle--three {
      margin-bottom: 30px;
      width: 90px;
      height: 25px;
      
      @include font-settings($acromextrabold, 16px, 25px);
      font-weight: 600;
      background-color: $main-dark-color;
      top: 10px;
      left: 10px;
      -webkit-transform: translate(30px, 40px);
              transform: translate(30px, 40px);

    }

    &__wrap {
      position: absolute;
      margin: 0 auto;
      width: 320px;
      top: 120px;
      -webkit-transform: translateY(120px);
              transform: translateY(120px);
    }



    &__box {
      margin: 0 auto;
      width: 220px;
      height: 450px;
      background-color: $main-color;
      border: 1px $main-dark-color solid;
      -webkit-transform: translate(-10px, -10px);
              transform: translate(-10px, -10px);
      
      -webkit-box-shadow: -15px 15px 0 0 $main-dark-color, 0 14px 28px #dfe2e4,
        0 10px 10px $main-dark-color;
      
              box-shadow: -15px 15px 0 0 $main-dark-color, 0 14px 28px #dfe2e4,
        0 10px 10px $main-dark-color;
        
      opacity: 1;
    }

    

    

    &__box:nth-last-child(n+2) {
      margin-bottom: 70px;
    }

    &__box::before {
      display: block;
      content: '';
      width: 63px;
      height: 3px;
      background-color: $secondary-color;
     
      top: 8px;
      left: 8px;
      -webkit-transform: translate(-8px, 8px);
              transform: translate(-8px, 8px);
    }

    &__caption {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 108px;
              flex: 0 0 108px;
      height: 65px;
      margin: 0 auto;
      padding: 20px;
      @include font-settings($acromextrabold, 20px, 20px);
    }
    

    &__tagline {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 80px;
              flex: 0 0 80px;
     
      padding: 20px;
      margin: 0;
      color: rgba(0, 0, 0, 255);
      font-weight: 700;
      @include font-settings($acromregular, 14px, 25px);
    }

    &__tagline--span {
      font-weight: normal;
      color: #90929a;
    }

    &__img {
      margin: 0 auto;
      
      -webkit-filter: drop-shadow(-5px 5px 5px $main-dark-color);
      
              filter: drop-shadow(-5px 5px 5px $main-dark-color);
    }

    &__img--imag {
      margin: 0 auto;
      top: 20px;
      -webkit-filter: drop-shadow(-5px 5px 5px $main-dark-color);
              filter: drop-shadow(-5px 5px 5px $main-dark-color);
      -webkit-transform: translateY(45px);
              transform: translateY(45px);
    }

    &__img--im {
      margin: 0 auto;
      top: 20px;
      left: 10px;
      -webkit-transform: translateY( -20px);
              transform: translateY( -20px);
      -webkit-filter: drop-shadow(-5px 5px 5px rgba(0,0,0, 0.9));
              filter: drop-shadow(-5px 5px 5px rgba(0,0,0, 0.9));
    }

    &__img--ims {
      margin: 0 auto;
      top: 20px;
      left: 10px;
      -webkit-transform: translate(-10px, -10px);
              transform: translate(-10px, -10px);
    }


    
  }

  .one {
    margin: 0 auto;
    position: absolute;
    top: 110px;
    left: 70px;
    -webkit-transform: translate(110px, 110px);
            transform: translate(110px, 110px);
    color: $main-dark-color;
    @include font-settings ($montserat, 70px, 10px);
    font-weight: 700;
  }

  .two {
    position: absolute;
    margin: 0 auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
    height: 50px;
    top: 150px;
    left: 65px;
    -webkit-transform: translate(110px, 590px);
            transform: translate(110px, 590px);
    color: $main-dark-color;
    @include font-settings ($montserat, 70px, 10px);
    font-weight: 700;
  }

  .three {
    margin: 0 auto;
    position: absolute;
    top: 600px;
    left: 65px;
    -webkit-transform: translate(110px, 665px);
            transform: translate(110px, 665px);
    color: $main-dark-color;
    @include font-settings ($montserat, 70px, 10px);
    font-weight: 700;
  }

  .imag {
 
    -webkit-filter: drop-shadow(-5px 5px 5px $main-dark-color);
 
            filter: drop-shadow(-5px 5px 5px $main-dark-color);
  }


  .imas {
    -webkit-filter: drop-shadow( -5px 5px 5px $main-dark-color);
            filter: drop-shadow( -5px 5px 5px $main-dark-color);
  }
}
