.box {
  @media (max-width: 599px) {
    // margin: 0 auto;
    margin-top: 10px;
    flex: 0 0 220px;
    flex-wrap: wrap;
    height: 450px;
    background-color: #ffffff;
    border: 2px red solid;
    transform: translate(-10px, -10px);
    box-shadow: -10px 10px 0 0 rgba(149, 225, 211, 1);
    opacity: 1;
    
    &.box:nth-last-child(n+2){
      margin-bottom: 30px;
    }

    

    &.box::before {
      display: block;
      content: '';
      width: 63px;
      height: 3px;
      background-color: $secondary-color;
      // margin-bottom: 20px;
      top: 8px;
      left: 8px;
      transform: translate(-8px, 8px);
    }

   
    
  }
}

