.box {
  @media (max-width: 599px) {
    // margin: 0 auto;
    // margin-top: 10px;
    margin-left: 20px;
    flex: 0 0 220px;
    flex-wrap: wrap;
    height: 410px;
    background-color: #ffffff;
    border: 1px #dfe2e4 solid;
    transform: translate(-10px, -10px);
    // box-shadow: -15px 15px 0 0 #dfe2e4, 15px 0 15px -15px #d8dbdd, 0 -5px 5px -5px #d8dbdd;
    box-shadow:  -15px 15px 0 0 #dfe2e4, 0 14px 28px #dfe2e4, 0 10px 10px rgba(0,0,0,0.22);
    opacity: 1;

    &.box:nth-last-child(n + 2) {
      margin-bottom: 8px;
    }

    &.box::before {
      display: block;
      content: '';
      width: 63px;
      height: 3px;
      background-color: $secondary-color;
      // margin-bottom: 20px;
      top: 8px;
      left: 8px;
      transform: translate(-8px, 8px);
    }
  }
}
