
.btn {
  @media (max-width: 599px) {
    margin: 0 auto;
    padding: 16 24;
    border: none;
    cursor: pointer;
    background-color: $button-color;
    color: #ffffff;
    width: 270px;
    height: 70px;
    left: 25px;
    top: 80px;
    transform: translate(25px, 80px);
    font-family: $acromextrabold;
    font-size: 14px;
    font-weight: 800;
  }

  @media (min-width: 600px)  {
    margin: 0 auto;
    padding: 16 24;
    border: none;
    cursor: pointer;
    background-color: $button-color;
    color: #ffffff;
    width: 530px;
    height: 70px;
    left: 35px;
    top: 80px;
    transform: translate(35px, 80px);
    font-family: $acromextrabold;
    font-size: 18px;
    font-weight: 800;
  }

  @media (min-width: 1500px)  {
    margin: 0 auto;
    padding: 16 24;
    border: none;
    cursor: pointer;
    background-color: $button-color;
    color: #ffffff;
    width: 680px;
    height: 100px;
    left: 35px;
    top: 80px;
    transform: translate(35px, 80px);
    font-family: $acromextrabold;
    font-size: 30px;
    font-weight: 800;
  }
}
