* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.head {
  background-color: $secondary-dark-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  &__entry {
    margin: 0 auto;
    max-width: 260px;
  }

  &__navigation {
    margin-top: 26px;
    margin-bottom: 27px;
  }

  &__link {
    @extend %link;
  }

  &__section {
    max-width: 100%;
    padding-bottom: 29px;
  }
}

@media (min-width: 768px) {
  .head {
    &__entry {
      max-width: 620px;
    }

    &__navigation {
      margin-top: 40px;
      margin-bottom: 33px;
    }

    &__section {
      padding-bottom: 36px;
    }
  }
}

@media (min-width: 1200px) {
  .head {
    &__entry {
      max-width: 1188px;
    }

    &__navigation {
      margin-top: 37px;
      margin-bottom: 72px;
    }

    &__section{
      padding-bottom: 100px;
    }
  }
}
