@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }

  .it-way {
    position: relative;
    margin: 0 auto;
    padding-top: 38px;
    width: 1340px;
    height: 644px;
    background-image: radial-gradient(
      circle,
      rgba(4, 51, 78, 1),
      $secondary-dark-color
    );
  }

  .it-way {
    &__text {
      margin: 0;
      margin-bottom: 54px;
      padding-left: 50px;
      margin-top: 50px;
      color: $main-color;
      width: 670px;
      height: 100px;

      font-weight: 700;
      @include font-settings($acromextrabold, 30px, 1.15);
    }

    &__lead {
      // position: absolute;
      margin: 0;
      padding: 0;
      color: $main-color;
      width: 400px;
      height: 300px;
      top: 155px;
      right: 15px;
      transform: translate(780px, 155px);
      font-weight: 700;

      line-height: 45px;

      @include font-settings($acromextrabold, 18px, 46px);
    }

    &__lead::before {
      display: block;
      content: '';

      width: 60px;
      height: 3px;
      background-color: $secondary-color;
      margin-bottom: 20px;
    }

    &__tagline {
      width: 258px;
      font-weight: 300;
      color: $main-dark-color;
      @include font-settings($acromextrabold, 14px, 35px);
    }

    &__title {
      margin: 0;
      position: absolute;
      padding: 0;
      color: $secondary-color;
      width: 668px;
      height: 110px;

      font-weight: 700;
      top: 150px;
      left: 35px;
      transform: translate(75px, 150px );
      @include font-settings($acromextrabold, 48px, 1.15);
    }

    &__btn {
      position: absolute;
      margin: 0 auto;
      padding: 16 24;
      border: none;
      cursor: pointer;
      background-color: $button-color;
      color: $main-color;
      width: 660px;
      height: 100px;
      left: 25px;
      top: 250px;
      transform: translate(85px, 250px);
      font-weight: 800;
      @include font-settings($acromextrabold, 30px, 25px);
    }
  }
}
