@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }

  .it-way {
    position: relative;
    margin: 0 auto;
    padding-top: 38px;
    width: 768px;
    height: 605px;
    background-image: radial-gradient(
      circle,
      rgba(4, 51, 78, 1),
      $secondary-dark-color
    );
  }

  .it-way {
    &__text {
      margin: 0 auto;
      margin-bottom: 30px;
      color: $main-color;
      width: 640px;
      text-align: left;
      font-weight: 700;
      @include font-settings($acromextrabold, 22px, 35px);
    }

    &__lead {
      position: absolute;
      margin: 0 auto;
      color: $main-color;
      width: 390px;
      text-align: left;
      font-weight: 700;
      top: 50px;
      left: 80px;
      -webkit-transform: translate(-10px, 90px);
      transform: translate(-10px, 90px);
      @include font-settings($acromextrabold, 16px, 25px);
    }

    &__lead::before {
      display: block;
      content: '';

      width: 60px;
      height: 3px;
      background-color: $secondary-color;
      margin-bottom: 20px;
    }

    &__tagline {
      width: 258px;
      font-weight: 300;

      color: $main-dark-color;
      @include font-settings($acromextrabold, 16px, 1.15);
    }

    &__title {
      position: absolute;
      margin: 0 auto;
      padding-top: 32px;
      color: $secondary-color;
      width: 630px;
      text-align: left;
      font-weight: 700;
      @include font-settings($acromextrabold, 40px, 1.15);
      top: 150px;
      left: 70px;
      -webkit-transform: translate(-5px, 150px);
      transform: translate(-5px, 150px);
    }

    &__btn {
      position: absolute;
      margin: 0 auto;
      padding: 16px;
      border: none;
      cursor: pointer;
      background-color: $button-color;
      color: $main-color;
      width: 530px;
      height: 70px;
      left: 35px;
      top: 230px;
      -webkit-transform: translate(35px, 230px);
      transform: translate(35px, 230px);
      font-weight: 800;
      @include font-settings($acromextrabold, 18px, 25px);
    }
  }
}
