.partners {
  @media (max-width: 599px) {
    // margin: 0 auto;
    width: 200px;
    height: 400px;
    // padding-top: 50px;
    position: absolute;
    top: 200px;
    transform: translateY(2400px);
  }
}