.span {
  @media (max-width: 599px) {
    font-family: $acromregular;
    font-size: 14px;
    color: $main-dark-color;
  }

  @media (min-width: 600px) {
    width: 258px;
    font-family: $acromregular;
    font-size: 14px;
    color: $main-dark-color;
  }

  @media (min-width: 1500px) {
    width: 258px;
    font-family: $acromregular;
    font-size: 14px;
    color: $main-dark-color;
  }
}
