.wrapper__tagline {
  @media (max-width: 599px) {
    // margin: 0 auto;
    margin-bottom: 30px;
    width: 90px;
    height: 25px;
    // top: 30px;
    // left: 30px;
    // transform: translate(-30px, -15px);
    @include font-settings($acromextrabold, 16px, 25px);
    font-weight: 600;
    background-color: #edf0f2;
  }
}
